<section>
  <h2>Strategish partner</h2>
  <ul>
      <li><a href="http://www.ffmm.sk">Masek mühle, Vrable</a></li>
      <li><a href="http://www.biospotrebitel.sk">Biospotrebiteľ</a></li>
      <li><a href="http://www.ekoprodukt.sk">Ekoprodukt</a></li>
  </ul>
</section>
