<section>
  <h2>Strategickí partneri</h2>
  <ul>
      <li><a href="http://www.ffmm.sk">Mašekov Mlyn, Vráble</a></li>
      <li><a href="http://www.biospotrebitel.sk">Biospotrebiteľ</a></li>
      <li><a href="http://www.ekoprodukt.sk">Ekoprodukt</a></li>
  </ul>
</section>
