body {
  display: grid;
  grid-template-columns: calc(max-content + 10px) 1fr minmax(min-content, 200px);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "nav main sidebar"
    "footer footer footer";
}

body > header {
  grid-area: header;
}
body > nav {
  grid-area: nav;
}
body > main {
  grid-area: main;
  padding: 5px;
  max-width: 1000px;
}
body > aside#right_panel {
  grid-area: sidebar;
}
body > footer {
  grid-area: footer;
}

main > article > section > .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

main > article > section > .gallery > figure {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body > header > #language_flags > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 10px;
  padding-left: 0;
}

body > nav > #myLinks {
  display: none;
}

@media screen and (max-width: 696px) {
  main > article > section > .gallery > figure > img {
    display: flex;
    flex-direction: column;
  }

  main > article > section > .gallery > figure {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 25px;
  }
  main > article > section > .gallery > figure > figcaption {
    border: none;
    text-align: center;
    max-width: 150px;
  }
}

@media print, screen and (max-width: 1000px) {
  body > main {
    width: 100%;
  }
}

@media print, screen and (max-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: calc(max-content + 10px) 1fr minmax(
        min-content,
        200px
      );
    grid-template-rows: auto;
    grid-template-areas:
      "header header "
      "nav main"
      "nav sidebar"
      "footer footer ";
  }
}

@media print, screen and (max-width: 400px) {
  body {
    display: grid;
    grid-template-columns: calc(max-content + 10px) 1fr minmax(
        min-content,
        200px
      );
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "sidebar"
      "footer";
  }
}

@media print, screen and (max-width: 400px) {
  body > nav > .myLinks {
    display: none;
  }
}

@media print, screen and (max-width: 400px) {
  body > nav > .turn-off {
    display: none;
  }
}

@media print, screen and (min-width: 401px) {
  body > nav > .hamburger-menu-icon {
    display: none;
  }
}
