<ul class="turn-off">
    <%- linkGenerator(menu, page, lang) %>
</ul>
<div class="hamburger-menu-icon">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()"><img src="/img/hamburger_icon.png" width="26" height="26" alt="menu"></a>
</div>
<ul id="myLinks">
    <%- linkGenerator(menu_responsive, page, lang) %>
</ul>