<article class="main_content">
    <h1>Kompostierung</h1>
    <section class="text_section">
        <h2>Haben Sie Probleme mit der Kompostierung?</h2>
        <p>
            Gemeinden und Städte haben ab dem 1. Januar 2006 eine neue Verpflichtung. Sie müssen die Verwertung von
            Bioabfällen aus Gärten sicherstellen,
            Parks, Friedhöfe und andere Grünanlagen, die sogenannten grüner Bioabfall.
            Sie dürfen es nicht verbrennen oder deponieren.
        </p>
        <p>
            Wir bieten Ihnen eine Lösung mit einem reichhaltigen Angebot an praktischen Dienstleistungen und Beratungen.
        </p>
        <p>
            Unser Familienbetrieb hat ein Zertifikat des ökologischen Landbaus mit der Herstellung von Bio-Lebensmitteln
            erhalten.
        </p>
        <div class="gallery">
            <figure><img src="/foto/kompostm1.jpg" alt="kompost" data-big-picture="/foto/kompost1.jpg"></figure>
            <figure><img src="/foto/kompostm11.jpg" alt="kompost" data-big-picture="/foto/kompost11.jpg"></figure>
            <figure><img src="/foto/kompostm14.jpg" alt="cutter" data-big-picture="/foto/kompost14.jpg"></figure>
        </div>
        <p>
            Im Zusammenhang mit dem Betrieb des ökologischen „BIOFARM“ verfügen wir über mehrjährige Erfahrung mit
            praktischer Kompostierung.
        </p>
    </section>
    <section class="text_section">
        <h2>Serviceangebot</h2>
        <p>
            1. BERATUNG
        </p>
        <ul>
            <li>Zur Kompostierung in Städten und Gemeinden.</li>
            <li>Besuch des Dorfes mit Führung und Vorschlag für eine praktische Lösung.</li>
            <li>Entwicklung eines technologischen Verfahrens zur Bewirtschaftung von Bioabfällen unter Berücksichtigung
                der individuellen Gegebenheiten der Stadt / Gemeinde.</li>
            <li>Betriebsrat</li>
            <li>Überprüfung der Kompostqualität und -reife</li>
        </ul>
        <p>
            2. SCHULUNGEN
        </p>
        <ul>
            <li>1-tägige Exkursion mit praktischer Demonstration des Kompostierbetriebs</li>
            <li>2-tägiges Praktikum für Kompostanlagenbetreiber in Kommunen und Städten</li>
            <li>Möglichkeit, die Ausbildung in einem 4-tägigen Kurs unter der Leitung von ausländischen Top-Dozenten
                weiter auszubauen</li>
            <li>Aktivitäten zur Unterstützung der Heimkompostierung</li>
        </ul>
    </section>
    <section class="text_section">
        <h2>Fotogalerie</h2>
        <p>
            <a href="./kompostovanie_galeria">Kompostierung auf der Transylwahnja Ranch</a>
        </p>
    </section>
</article>